html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(240, 240, 240) !important;
  scroll-behavior: smooth;
}

h1.welcome-head {
  margin-top: 20px !important;
}

/* HEADER & NAVBAR */

.navbar {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.search {
  width: 60%;
}

.search-btn {
  box-shadow: 0 0 2px black;
}

.search-input {
  box-shadow: 0 0 2px black;
}

.navbar-toggler {
  border-radius: 10px;
  border: 2px solid white !important;
  box-shadow: 0 0 2px black;
}

.navbar-toggler:hover {
}

.nav-link {
  font-size: 25px;
}

.nav-item label {
  display: none !important;
}
/* Button in header */

.button-login-header {
  font-size: 16px;
}

button.button-phone {
  border: none !important;
  padding: 4px 10px 4px 10px;
  text-align: center;
  display: none;
  font-size: 12px;
}

button.button-masuk {
  border: none !important;
  padding: 4px 10px 4px 10px;
  text-align: center;
  color: white;
  border: 1px solid white !important;
  background-color: transparent;
  box-shadow: 0 0 1px black;
}

button.button-daftar {
  border: none !important;
  padding: 4px 10px 4px 10px;
  text-align: center;
  box-shadow: 0 0 1px black;
  text-shadow: 0 0 2px rgb(253, 254, 255);
}

.ziinspiration {
  display: none;
}
/* HEADER & NAVBAR END */

/* NAV FOR PHONE */

nav.nav-phone {
  display: none !important;
}

/* NAV FOR PHONE END */

/* WELCOME PAGE */
.welcome-page {
  height: 500px !important;
  background-size: cover;
  color: whitesmoke;
  text-shadow: 0 0 10px rgb(122, 122, 122);
}

.welcome-left-page {
  mix-blend-mode: hard-light !important;
}

/* WELCOME PAGE END */

/* CATEGORY CARD PAGE */
.category-head h1 {
  font-size: 22px !important;
}

.card-category a {
  text-decoration: none;
  /* width: 20%; */
}

/* .card-category p {
  font-size: 18px;
} */
/* CATEGORY CARD END */

/*  CAROUSEL FISRT PAGE */
.carousel-first {
  height: 90px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  margin: auto;
  margin-bottom: 50px !important;
  overflow: hidden;
}
/*  CAROUSEL FISRT END */

/* PROMO CARD PAGE */

.promo-card {
  overflow-x: auto;
  display: flex;
}

.card-promo {
  border-radius: 12px;
  box-shadow: 0 2px 4px grey;
  overflow: hidden;
  min-width: 25%;
  transform: scale(0.7);
}

.img-card-promo {
  width: 85%;
  display: flex;
  margin: auto;
  height: 200px;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
}

.price-item {
  font-size: 13px;
  font-weight: 500;
}

.price-promo {
  font-size: 17px;
  margin-top: -23px;
  font-weight: 600;
}

/* PROMO CARD END*/

/* IMAGES HALODEK */
.images-in {
  font-size: 25px;
  margin-bottom: 10px;
}

.img-fluid {
  border-radius: 20px !important;
}
/* IMAGES HALODEK END */

/* ARTIKEL PAGE */
.artikel-container {
  margin-bottom: 100px;
}

.artikel .card {
  transition: 0.3s;
  border-radius: 8px;
}

.artikel .card:hover {
  opacity: 0.8;
  border-radius: 12px;
  border: 4px solid rgb(202, 202, 202);
  transition: 0.3s;
}
/* ARTIKEL PAGE END */

/* FOOTER */
.footer {
  padding: 10px;
  padding-top: 25px;
  box-shadow: 0 0 2px grey;
}

.supported {
  font-size: 18px;
  font-weight: 500;
}

.medsos-footer p {
  font-weight: 500;
  font-size: 18px;
}

.icon-medsos i {
  margin-right: 25px;
  font-size: 30px;
}

.copyright {
  font-size: 15px;
}

.footer span {
  color: black;
}

/* FOOTER END */

/* CSS UNTUK HALAMAN support-pages/promo-kategori */
.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.name-brand {
  font-size: 20px;
  font-weight: 500;
  margin: 50px;
}

.name-brand span {
  font-size: 12px;
  font-weight: 600;
}

.head i {
  font-size: 30px;
  color: white;
}

/* CARD PAGE */

.nama-kategori {
  margin-top: 20px !important;
  margin-left: 10px;
}

.promo-card {
  display: flex;
  overflow-x: auto;
}

.promo-card::-webkit-scrollbar {
  display: none;
}

.card-promo {
  border-radius: 12px;
  box-shadow: 0 2px 4px grey;
  overflow: hidden;
  min-width: 25%;
  transform: scale(0.7);
}

.img-card-promo {
  width: 85%;
  display: flex;
  margin: auto;
  height: 200px;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
}

.price-item {
  font-size: 13px;
  font-weight: 500;
}

.price-promo {
  font-size: 17px;
  margin-top: -23px;
  font-weight: 600;
}

.head {
  color: white;
  padding: 20px 5px;
}

.brand {
  font-weight: 500;
}

.head i {
  font-size: 30px;
  color: white;
}

.name-brand-bottom {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5% !important;
}

.name-brand-bottom span {
  font-size: 12px;
  font-weight: 600;
}
